body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#taustakuva{ /**headeri(main) taustakuva*/
 background-image: url("images/tarjoiluehdotus.jpg");
 opacity: 0,5;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
 /**box-shadow: 0px 2px 2px 0px #261b12;*/
}

h1 { /**Headerin(main) iso teksti ("logo"). Tuleeko verkkosivulle muita h1? Tämän vois toki vielä muuttaa*/
  font-family: 'Pacifico', cursive;
  
 
}

.lead{ /**Tällä voi muokata headerissa, otsikon alla olevaa tekstiä "maku,joka muistetaan"*/
  font-size: 38px;
  color: rgb(240, 245, 242);
  text-shadow: 2px 2px #0f0e0e;
  padding-top: 10px;
}

.display-4 {  /**tällä voi säätää headerissa(main) otsikon kokoa*/
  font-size: 140px;
  padding-bottom: 30px;
  text-shadow: 1px 1px rgb(240, 245, 242);
}

.navbar-brand { /**tällä voi säätää navbarin Sumppia*/
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
  
}

/**navbar säädöt*/
.navbar{ 
  background-color: antiquewhite;
  height: 80px;
}

#navbarNavDropdown {
  font-size: 18px; 
  z-index: 123;
  background-color: antiquewhite;
  
}

.nav-right{
  font-size: 18px;
  list-style-type: none;
}

li:hover{
  background-color: #dfcdc0;
  border-radius: 5px;
}
.dropdown-width{
   width: 500px !important;
   
   }

.modal-dialog {
    margin-top: -4rem;
    margin-bottom: -4rem;
  
  }
/**ostoskorin lukumäärämuuttujan säädöt*/
  .badge{
  font-size: 14px;
  font-weight: 500;
  position: relative;
  border: solid rgb(46, 11, 19);
  border-radius: 80%;
  padding: 3px;
  height:25px;
  width: 25px;
  background:rgb(47, 6, 15);
}
/**yhteydenottolomakkeeseen*/
#formbackground{
  background-color:antiquewhite;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 80px;
}

.nav-link{
  color: #0f0e0e;
  background-color: antiquewhite;
}
/*navin doropdown tekstiä valkoiseksi, Madeby*/
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: black;
}
/*navin doropdown tekstiä valkoiseksi, TUOTTEET*/
#dropdown01{
  color: black;
}
/*tällä ostoskori burgerissa näkyviin*/
.containernav-right{
  background-color: antiquewhite;
  z-index: 1;
}
/*'kirjaudu navissa*/
/**.navkirj{
  background-color: antiquewhite;
  
}*/
.nav-right{
  z-index: 1;
}